.bottom {
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 2;
  width: 265px;
  height: 164px;
  gap: 10px;
  position: absolute;
  top: 477px;
  left: 327px;
  padding: 10px 10px;
  border-radius: 24px;
  box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.1);
}

.weekly-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.weekly-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.graphimg {
  width: 60px;
  height: 56.77px;
  margin: 6px 10px;
}

.weekly-left p {
  font-size: 14px;
  font-weight: bold;
  color: #171717;
  /* line-height: 20px; */
}

.weekly-left h2 {
  font-size: 32px;
  font-weight: bold;
  /* line-height: 32px; */
  color: #081735;
  margin-bottom: 0;
  padding-top: 10px;
  /* margin-top: -1px; */
}

.weekly-right {
  text-align: left;
  padding-right: 10px;
  /* justify-content: center; */
  /* padding-top: 10px; */
  /* margin-top: 6px; */
  /* margin-top: -10px; */
}

.increase {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
  color: #0049e6;
}

.week {
  font-size: 12px;
  /* line-height: 16px; */
  /* margin-top: -5px; */
  color: #171717;
}
