.top {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 447px;
  height: 170px;
  position: absolute;
  top: 319px;
  left: 123px;
  z-index: 1;
  box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.1);
}

.logoimg {
  width: 28px;
  height: 31px;
  margin-right: 10px;
}

.logohead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #081735;
}

.breaklogo {
  border: 1px solid #e6e8f0;
}

.featurelist {
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

ul li {
  text-align: center;
}

ul li span {
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #081735;
}

ul li p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  color: #171717;
}

.bottom {
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 2;
  width: 265px;
  height: 164px;
  gap: 10px;
  position: absolute;
  top: 477px;
  left: 327px;
  padding: 10px 25px;
  border-radius: 24px;
  box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.1);
}

.weekly-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.weekly-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.graphimg {
  width: 56px;
  height: 56.77px;
}

.weekly-left p {
  font-size: 14px;
  font-weight: bold;
  color: #171717;
  line-height: 20px;
}

.weekly-left h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  color: #081735;
  margin-bottom: 0;
  margin-top: -1px;
}

.weekly-right {
  text-align: left;
  padding-right: 10px;
  margin-top: -10px;
}

.increase {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
  color: #0049e6;
}

.week {
  font-size: 12px;
  line-height: 16px;
  margin-top: -5px;
  color: #171717;
}

.bottomimage {
  width: 284px;
  height: 319px;
  top: 641px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .feature-section {
    display: none;
  }
}
