.main-page {
  display: flex;
  width: 100%;
}

.main-left {
  width: 50%;
  height: 960px;
  background-color: #FFFFFF;
}

.main-right {
  width: 50%;
  height: 960px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .main-left {
      display: none;
  }

  .main-right {
      width: 100%;
      background-color: #FAFAFA;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}